Create A Podcast:
<form method="post" action="/podcasts">
<input type="text" name="name" placeholder="name">
<label for="listened">Listened to already?</label>
<input name="listened" type="checkbox" value="TRUE">
<input type="submit">
</form>
