<form method="post" action="/podcasts/<%=@podcast.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="text" name="name" placeholder="name">
<label for="watched">Watched already?</label>
<input name="watched" type="checkbox" value="TRUE">
<input type="submit" value ="Edit Podcast">
</form>
