<h1>Podcasts Followed By Users:</h1>

<%@podcasts.each do |podcast|%>
<h2><a href="/podcasts/<%=podcast.id%>"><%=podcast.name%></h2></a>
  <h4><%= if podcast.watched == true then "Watched [X]"
  end %></h4><br>
  Followed by <%=podcast.user.username%>
  <br>----------------------------------------------
<%end %>

<br>
Click on a podcast to show it alone, and to access edit/delete functions.<br>
<a href="/podcasts/new">Want to add a new podcast?</a>
<h3><a href="/logout">Click here to log out</a></h3>
