<h2><%=@podcast.name%></h2>
<h4><%= if @podcast.watched == true then "Watched [X]"
end %></h4>


<a href="/podcasts/<%=@podcast.id%>/edit"> Do you want to edit or delete <%=@podcast.name%>? </a> (You'll have to be the one who put it into the system.)

<br><a href="/podcasts">Return to the index of podcasts.</a>